#photoContainer {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

img {
    height: 400px;
    width: 400px;
}

@media(max-width: 900px) {
    #photoContainer {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 300px;
        width: 300px;
    }

}