.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contentBox {
    padding-left: 5%;
    padding-top: 10px;
    margin-right: 100px;
}

p::first-letter {
    font-size: x-large;
}

img {
    height: 600px;
    width: 500px;
}


@media(max-width: 900px) {
    img {
        height: 240px;
        width: 200px;

    }

    .photo {
        float: left;
        margin-right: 10px;
    }

    .contentBox {
        grid-auto-rows: max-content;
        margin-right: 10px;
    }

    .container {
        display: block;
    }

}

